body {
  font-family: "Poppins", sans-serif;
  background-image: url('fondo.jpg');
  background-size: cover;  
  background-repeat: no-repeat;
  background-position: center; 
  background-attachment: fixed;
  color: #080808;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}

.container {
  background: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(8px);
  border-radius: 15px;
  padding: 40px;
  width: 320px;
  text-align: center;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
}

h1 {
  font-size: 1.5rem;
  margin-bottom: 15px;
  letter-spacing: 0.5px;
}

input {
  width: 93%;
  padding: 10px;
  border: none;
  border-radius: 10px;
  outline: none;
  font-size: 1rem;
  margin-top: 10px;
  text-align: center;
}

button {
  width: 100%;
  padding: 12px;
  margin-top: 15px;
  background: #1084f0;
  color: #050505;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  font-weight: bold;
  transition: 0.3s;
}

button:hover {
  background: #0072ff;
}

.resultado {
  margin-top: 20px;
  font-weight: bold;
  font-size: 1.1rem;
  background-color: rgba(255, 255, 255, 0.2);
  padding: 10px;
  border-radius: 10px;
}
